ul {
    float: left;
    list-style: none;

}

ul li {
    display: inline-block;
}

.navleft {
    float: left;
}

.navright {
    float: right;
}
footer {
    margin-top: 12em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13em;
    width: 10%;
    min-width: 250px;
}
form {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    margin-top: 10px;
    margin-bottom;
}

form .button1{
    display: inline-block;
    margin-right: 20px;
    margin-left: 110px;
    width: 150px;
    height: 75px;
}

form .button2{
    display: inline-block;
    margin-left: 0px;
    margin-right: auto;
    width: 150px;
}

.googlesearch {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: 25px;
    border-radius: 25px;
    border-color: #8e8e8e;
    border-width: .5px;
    box-shadow: 4px gray;
}

.footright {
    float: right;
    margin-right:0;
    padding-right: 0;
}
.footleft {
    float: left;
    margin-left: 0;
    padding-left:0;
}
